{% load staticfiles %}

<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <main>

    <form method="post">
      {% csrf_token %}
      <div class="row center">
        <div class="input-field col s6 m6 offset-m3">
          <i class="material-icons prefix">restaurant</i>
          <input placeholder="{{ restaurant }}" id="name" type="text" name="name"  value="{{ restaurant }}">
          <label for="name">Name: </label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col s6 m6 offset-m3">
          <i class="material-icons prefix">face</i>
          <input  placeholder="{{ restaurant.owner }}" id="owner" type="text" name="owner" value="{{ restaurant.owner }}">
          <label for="owner">Owner: </label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col s6 m6 offset-m3">
          <i class="material-icons prefix">edit_location</i>
          <input  placeholder="{{ restaurant.adress }}" id="adress" type="text" name="adress" value="{{ restaurant.adress }}">
          <label for="adress">Adress: </label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col s6 m6 offset-m3">
          <i class="material-icons prefix">restaurant_menu</i>
          <input placeholder="{{ restaurant.speciality }}" id="speciality" type="text" name="speciality" value="{{ restaurant.speciality }}">
          <label for="speciality">Speciality: </label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col s6 m6 offset-m3">
          <i class="material-icons prefix">event</i>
          <input id="fund_date" type="text" name="fund_date" value="{{ restaurant.fund_date.day}}/{{restaurant.fund_date.month}}/{{restaurant.fund_date.year}}">
          <label for="fund_date"> Date Fundation: </label>
        </div>
      </div>
    <div class="row center">
      <button class="btn waves-effect waves-light blue" type="submit" name="action">
        Edit
        <i class="material-icons right">check</i>
      </button>
  </row>

    </form>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
</body>
