{% load staticfiles %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
  div.container{
    position: absolute;
    top: 50%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-59%, -53%);
  }
</style>

<body>
<main>
<div class="container">

<form class="col s12" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="input-field col s5">
      <i class="material-icons prefix">restaurant</i>
      <input id="name" type="text" name="name">
      <label for="name">Name: </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s5">
      <i class="material-icons prefix">face</i>
      <input id="owner" type="text" name="owner">
      <label for="owner">Owner: </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s5">
      <i class="material-icons prefix">location_on</i>
      <input id="adress" type="text" name="adress">
      <label for="adress">Adress: </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s5">
      <i class="material-icons prefix">restaurant_menu</i>
      <input id="speciality" type="text" name="speciality">
      <label for="speciality">Speciality: </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s5">
      <i class="material-icons prefix">event</i>
      <input id="fund_date" type="text" name="fund_date">
      <label for="fund_date"> Date Fundation: </label>
    </div>
  </div>

  <button class="btn waves-effect waves-light green" type="submit" name="action">
    Register
    <i class="material-icons right">send</i>
  </button>

</form>
</div>
</main>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
