{% load staticfiles %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }

        main {
        flex: 1 0 auto;
        }
        </style>
    </head>

    <body>
        <header>
            <div class="header center">
                <h1>
                    Restaurantes
                </h1>
            </div>
        </header>

        <main>
            {% if user.is_authenticated %}
                <a href="{% url 'restaurant_new' %}" class="btn-large waves-effect waves-light green">
                    Adicionar restaurante
                    <i class="material-icons right">add</i>
                </a>
            {% endif %}

            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">

            {% for restaurant in restaurants %}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">restaurant</i> {{ restaurant }}

                        {% for i in satisfations.keys %}
                            <i class="material-icons right">{{ i }}</i>
                        {% endfor %}

                    </div>
                    <div class="collapsible-body black white-text">
                        <p><i class="material-icons">face</i> Dono: {{ restaurant.owner|linebreaksbr}} </p>
                        <p><i class="material-icons">restaurant_menu</i> Especialidade: {{restaurant.speciality }} </p>
                        <p><i class="material-icons">location_on</i> Localização: {{restaurant.adress}} </p>
                        <p> <i class="material-icons">event</i> Criação: {{ restaurant.fund_date}} </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'restaurant_edit' pk=restaurant.pk %}" class="waves-effect waves-light btn-large blue">
                            Editar
                            <i class="large material-icons right">mode_edit</i>
                        </a>
                        <a href="{% url 'restaurant_delete' pk=restaurant.pk %}" class="waves-effect waves-light btn-large red">
                            Excluir
                            <i class="large material-icons right">delete</i>
                        </a>
                    {% endif%}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </main>

        <footer class="page-footer green">
            <div class="footer-copyright">
                <div class="container">
                    Made by
                    <a class="green-text text-lighten-3" href="http://github.com/SilvaEmerson"> Émerson J. Silva</a>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <!-- <script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">
        <script type="text/javascript">
        $(".my-rating").starRating({
            starSize: 25,
            callback: function(currentRating, $el){
                // make a server call here
                var vote = currentRating;
                console.log(vote)
            }
        });
        </script> -->

    </body>
</html>
